/* Global Reset and Basic Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar Styles */
.navbar {
    width: 100%;
    padding: 20px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    border-radius: 8px;
    margin-right: 15px;
}

.logo-container p {
    color: #101010;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #232323;
}

.navbar-menu li {
    cursor: pointer;
    transition: color 0.3s;
    font-family: 'Inter', sans-serif;
}

.navbar-menu li:hover {
    color: #007bff;
}

.navbar-menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-menu-right button {
    background: linear-gradient(180deg, #1a1a1a 0%, #333 46.01%, #000 100%);
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s;
}

.navbar-menu-right button:hover {
    background: linear-gradient(180deg, #333 0%, #444 46.01%, #111 100%);
}

.navbar-menu-right .cart-icon-container {
    background-color: #ff5722;
    padding: 8px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu-right .cart-icon-wrapper {
    padding: 4px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu-right .cart-icon {
    color: #ff5722;
    font-size: 24px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.header-left {
    max-width: 40%;
    padding: 30px;
    margin-top: 10px;
}

.header-left p {
    font-family: 'Seaweed Script', cursive;
    font-size: 44px;
    line-height: 50px;
    font-weight: 400;
    color: #FF4415;
}

.header-left h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 72px;
}

.header-left h5 {
    color: #646464;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

.location {
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    background-color: none;
}

.location form {
    display: flex;
    align-items: center;
}

.input-container {
    position: relative;
    flex: 1;
}

.input-container input[type="text"] {
    width: 100%;
    padding: 20px 30px;
    border: 1px solid #00BE4C;
    border-right: none;
    border-radius: 15px 0 0 15px;
    font-size: 16px;
}

.input-container .input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #b1b1b1;
    pointer-events: none;
}

.location button {
    padding:15px 25px;
    border: 1px solid #ddd;
    border-radius: 0 15px 15px 0;
    background: linear-gradient(92.18deg, #3FDA7D 48.17%, #00BE4C 100%);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location button .button-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00BE4C;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    align-items: center;
    padding-top: 5px;
    margin-left: 8px;
}

.header-left .sign {
    margin-top: 20px;
}

.header-left .sign p1 {
    color: #646464;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.sign span {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: tomato;
}

.header-right img {
    max-width: 100%;
    height: auto;
}
/*Feature*/
.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 50px 40px;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    
}
.feature-left h3{
    color: #101010;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
}
.feature-left i{
    color: #FF4415;
    font-size: 40px;
}
.feature-right {
    display: flex;
    justify-content: flex-end;
    gap: 10px; 
    padding-right: 20px; 
}

.feature-right button {
    border: none;
    color: #C4C4C4;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    border-radius: 29px;
    background-color: white;
}

.feature-right button:hover {
    background-color: #f0f0f0;
}

.feature-right .feature-button {
    font-size: 12px;
    background-color: black;
}
.feature-items {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 10px;
    margin-bottom: 20px;
}

.feature-item {
    display: flex;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box; 
    border-radius: 24px; 
    background-color: #f6f6f6; 
    padding: 10px;
    height: 130px;
    width: 270px;
}
.feature-item-left {
    flex: 1;
    padding-right: 10px; 
}

.feature-item-right {
    flex: 0 0 150px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.feature-item-right img {
    width: 150px;
    height: 150px;
    margin-top: -30px;
}

.feature-item-left h4,
.feature-item-left h5,
.feature-item-left h6 {
    margin: 0;
    padding-left: 10px;
}

.feature-item-left h4 {
    font-size: 24px; 
    font-weight: 700;
    color: #171717;
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.feature-item-left h5 {
    font-size: 18px; 
    font-weight: 500;
    line-height: 25px;
    color: #969696;
}

.feature-item-left h6 {
    font-size: 18px;
    font-weight: 600; 
    color: #FF4415;
    line-height: 25px; 
}

/*Subcribes*/
.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding: 50px 70px;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    background: linear-gradient(120deg, #FF4415 60%, #FEB618 40%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow with more blur */
}

/* Left Section */
.subscribe-left {
    flex: 1;
    color: white;
}

.subscribe-left h3 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 40px;
}

.subscribe-left p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 28px;
}

/* Right Side */
.subscribe-right {
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 20px; 
}

#subscribe-form {
    display: flex;
    align-items: center;
    width: 80%;
}

#subscribe-form input[type="text"] {
    padding: 20px 40px;
    border: none;
    border-radius: 16px 0 0 16px;
    width:100%;
    height: 60px;
    font-size: 16px;
    outline: none;
    background-color: #F5F5F5;
}

#subscribe-form button[type="submit"] {
    padding: 12px 20px;
    background-color:#2FB652;
    color: white;
    border: none;
    height: 60px;
    border-radius: 0 16px 16px 0;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subscribe-form button[type="submit"] .button-icon {
    margin-left: 10px;
    padding-top: 5px;
    font-size: 14px;
    justify-content: center;
    background-color: #fff;
    width: 25px;
    height: 25px;
    color: #2FB652;
    border-radius: 10px;
}

#subscribe-form button[type="submit"]:hover {
    background-color: #2FB652; /* Change background color on hover */
}

/*Countries*/
.countries-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width:100%;
    justify-content: center;
    margin: 60px 80px;
}

.heading {
    width: 100%;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 700;
    color: #101010;
}

.country-column {
    flex: 1 1 22%;
    display: flex;
    flex-direction: column;
}

.country {
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #666666;
    line-height: 21.78px;
}

/*Footer*/
.footer {
    background-color: #F8F8F8;
    padding: 30px 30px; 
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .column {
    flex: 1;
    margin: 20px; 
    padding: 20px; 
}
.footer .footer-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}
.footer .logo {
    width: 40px;
    height: auto;
    border-radius: 8px;
    margin-right: 15px;
}
.footer .footer-logo p1 {
    color: #101010;
    font-size: 25px;
    font-weight: 600;
    padding-top:5px;
    padding-left: 10px;
}
.footer .column p {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer .column h3 {
    color: #101010;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer .column a{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
}
.footer .social-media-icon {
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin-top: 20px;
}
.footer .social-media-icon a {
    color: white;
    background-color: #252525;
    padding: 10px;
    font-size:15px;
    transition: color 0.3s;
    border-radius: 4px;
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 13px;
}

.copyright .left {
    text-align: left;
}

.copyright .right {
    text-align: right;
}

@media (max-width: 1024px) {
    /* Adjust Navbar for smaller screens */
    .navbar {
        padding: 20px 20px;
    }

    .navbar-menu {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .navbar-menu-right {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header-left, .header-right {
        max-width: 100%;
        text-align: center;
    }

    /* Subscribe Section Adjustments */
    .subscribe {
        flex-direction: column;
        padding: 20px;
        width: 90%;
    }

    .subscribe-left, .subscribe-right {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .subscribe-right {
        padding-left: 0; /* Remove left padding on smaller screens */
    }

    #subscribe-form {
        width: 70%;
        flex-direction:row;
    }

    #subscribe-form input[type="text"] {
        padding: 15px 10px;
        font-size: 14px;
        border-radius:10px 0 0 10px;
        height: auto;
        margin-bottom: 10px;
    }

    #subscribe-form button[type="submit"] {
        padding:12px 15px;
        font-size: 14px;
        border-radius: 0 10px 10px 0;
        height: auto;
        margin-bottom: 10px;
    }

    #subscribe-form button[type="submit"] .button-icon {
        margin-left: 5px;
        font-size: 12px;
    }
    .countries-container {
        margin: 30px 20px;
    }
}
@media (max-width: 768px){
    .header-left h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .header-left h5 {
        font-size: 16px;
    }
    .header-left p {
        font-size: 40px;
        line-height: 50px;
    }
    .header-left .sign p1 {
        font-size: 16px;
    }
    .header-left .sign span {
        font-size: 16px;
    }
    .header-right img {
        max-width: 80%;
    }
    .subscribe-left h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .subscribe-left p {
        font-size: 14px;
        line-height: 24px;
    }
    .subscribe-right {
        padding-left: 0;
    }
    .subscribe-right #subscribe-form {
        width: 100%;
    }
    .subscribe-right #subscribe-form input[type="text"] {
        padding: 15px 10px;
        font-size: 14px;
        border-radius: 10px 0 0 10px;
        height: auto;
        margin-bottom: 10px;
    }
    .subscribe-right #subscribe-form button[type="submit"] {
        padding: 12px 15px;
        font-size: 14px;
        border-radius: 0 10px 10px 0;
        height: auto;
        margin-bottom: 10px;
    }
    .subscribe-right #subscribe-form button[type="submit"] .button-icon {
        margin-left: 5px;
        font-size: 12px;
    }
    .countries-container {
        margin: 30px 10px;
    }
}