/* Global Reset and Basic Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar*/
.navbar {
    width: 100%;
    padding: 20px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 28px;
    border-radius: 8px;
    margin-right: 15px;
}

.logo-container p {
    color: #101010;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 25px;
    color: #232323;
}

.navbar-menu li {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: 0.05;
}

.navbar-menu li a {
    text-decoration: none;
    padding-bottom: 5px;
    position: relative;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar-menu li a:hover {
    color: blue;
    border-bottom: 2px solid #000;
    transition: border-bottom 0.3s ease, color 0.3s ease;
}

.navbar-menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-menu-right button {
    background: linear-gradient(180deg, #1a1a1a 0%, #333 46.01%, #000 100%);
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s;
}

.navbar-menu-right button:hover {
    background: linear-gradient(180deg, #333 0%, #444 46.01%, #111 100%);
}

.navbar-menu-right .cart-icon-container {
    background-color: #ff5722;
    padding: 8px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.navbar-menu-right .cart-icon-wrapper {
    padding: 4px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu-right .cart-icon {
    color: #ff5722;
    font-size: 24px;
}

.mobile-menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #232323;
}

.mobile-navbar-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.mobile-navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-navbar-menu li {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    position: relative;
    transition: color 0.3s ease;
}

.mobile-navbar-menu li.active {
    color: #007bff;
}

.mobile-sign-up {
    width: 100%;
    padding: 8px 16px;
    background: linear-gradient(180deg, #1a1a1a 0%, #333 46.01%, #000 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, transform 0.3s;
}

/* Mobile Cart Link */
.mobile-cart-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #232323;
    padding: 10px 0;
}

.mobile-cart-link .cart-icon-container {
    background-color: #ff5722;
    padding: 8px;
    border-radius: 12px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
}

.mobile-cart-link .cart-icon-wrapper {
    padding: 4px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-cart-link .cart-icon {
    color: #ff5722;
    font-size: 24px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 60px;
    margin-top: 100px;
    flex-wrap: wrap;
    max-width: 100%;
}

.header-left {
    max-width: 40%;
    padding: 30px;
    margin-top: 10px;
}

.header-left p {
    font-family: 'Seaweed Script', cursive;
    font-size: 44px;
    line-height: 50px;
    font-weight: 400;
    color: #FF4415;
}

.header-left h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 72px;
    color: #101010;
}

.header-left h5 {
    color: #646464;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

.location {
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    background-color: none;
}

.location form {
    display: flex;
    align-items: center;
}

.input-container {
    position: relative;
    flex: 1;
}

.input-container input[type="text"] {
    width: 100%;
    padding: 20px 30px;
    border: 1px solid #00BE4C;
    border-right: none;
    border-radius: 15px 0 0 15px;
    font-size: 16px;
}

.input-container .input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #b1b1b1;
    pointer-events: none;
}

.location button {
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-radius: 0 15px 15px 0;
    background: linear-gradient(92.18deg, #3FDA7D 48.17%, #00BE4C 100%);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location button .button-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00BE4C;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    align-items: center;
    padding-top: 5px;
    margin-left: 8px;
}

.header-left .sign {
    margin-top: 20px;
}

.header-left .sign p1 {
    color: #646464;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.sign span {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: tomato;
}

.header-right img {
    max-width: 100%;
    height: auto;
}

/*Feature*/
.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 50px 40px;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
}

.feature-left h3 {
    color: #101010;
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
}

.feature-left i {
    color: #FF4415;
    font-size: 40px;
}

.feature-right {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 20px;
}

.feature-right button {
    border: none;
    color: #C4C4C4;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 16px;
    background-color: white;
    border: 2px solid #FFFFFF;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
}

.feature-right button:hover {
    background-color: #f0f0f0;
    color: #000;
}

.feature-right .feature-button {
    font-size: 16px;
    background-color: black;
    color: white;
}


.feature-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.feature-item {
    display: flex;
    flex: 1 1 calc(25% - 40px);
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #f6f6f6;
    padding: 20px;
    height: 130px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.feature-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.feature-item-left {
    flex: 1;
    padding-right: 10px;
}

.feature-item-right {
    flex: 0 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-item-right img {
    width: 150px;
    height: 150px;
    margin-top: -30px;
    transition: transform 0.3s ease;
}

.feature-item-right img:hover {
    transform: scale(1.05);
}

.feature-item-left h4,
.feature-item-left h5,
.feature-item-left h6 {
    margin: 0;
    padding-left: 10px;
}

.feature-item-left h4 {
    font-size: 24px;
    font-weight: 700;
    color: #171717;
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.feature-item-left h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: #969696;
}

.feature-item-left h6 {
    font-size: 18px;
    font-weight: 600;
    color: #FF4415;
    line-height: 25px;
}

/*Service*/
.service {
    margin-top: 80px;
}

.service p {
    font-family: 'Seaweed Script', cursive;
    font-size: 44px;
    line-height: 50px;
    font-weight: 400;
    color: #FF4415;
    text-align: center;
}

.service h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 72px;
    text-align: center;
    color: #101010;
}

.service-items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 50px 90px;
}

.service-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 200px;
}

.service-item img {
    width: 120px;
    height: 120px;
    padding-bottom: 20px;
}

.service-item h4 {
    line-height: 24px;
    font-size: 26px;
    font-weight: 700;
    color: #171717;
    letter-spacing: -0.5%;
}

.service-item span {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    align-items: center;
    letter-spacing: -1%;
    color: #646464;
}
.service-base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    width: 85%;
    margin: 60px auto;
    border-radius: 15px;
    background: linear-gradient(120deg, #FEB618 50%, #2FB652 50%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    height: auto;
    flex-wrap: wrap;
    gap: 20px;
}
.service-base-left {
    flex: 1;
    color: #ffffff;
    letter-spacing: 1%;
    padding-right: 20px;}

.service-base-left h3 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    margin-bottom: 10px;
}

.service-base-left p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    padding-left: 0; 
    margin-top: 10px;
}

.service-base-right {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 10px;
    flex-wrap: wrap; 
}

.service-base-right .s7, 
.service-base-right .s9 {
    width: 40px;
    height: 40px;
}

.service-base-right .s8 {
    width: 90px;
    height: 90px;
}

.service-base-right .s5 {
    width: 110px;
    height: 170px;
    padding-bottom: 10px;
}

.service-base-right .s6 {
    width: 90px;
    height: 160px;
    padding-top: 20px;
}

.service-base-right .s4 {
    width: 140px;
    height: 170px;
    padding-bottom: 20px;
}

/*Feature 1*/
.feature1 {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.feature1 p {
    font-family: 'Seaweed Script', cursive;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    color: #FF4415;
}

.feature1 h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    color: #101010;
}

.feature1-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 50px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.feature1-item {
    flex-direction: column;
    align-items: center;
    height: 45%;
    width: 30%;
    border-radius: 24px;
    border: 1.2px solid #EFEFEF;
    background-color: #FFFFFF;
    display: flex;
    padding: 20px 10px;
    margin-bottom: 20px;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature1-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.feature1-item img {
    width: 190px;
    height: 190px;
    transition: transform 0.3s ease;
}

.feature1-item img:hover {
    transform: scale(1.05);
}

.feature1-item .rating-star {
    color: #FEB618;
    width: 22px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    padding: 20px;
}

.feature1-item b {
    color: #181818;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    display: flex;
    align-self: flex-start;
    padding-left: 20px;
}

.feature1-item span {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #787878;
    letter-spacing: 1%;
    align-self: flex-start;
    padding-left: 20px;
    display: block;
    text-align: left;
}

.price-icon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
}

.price-icon p {
    font-size: 20px;
    line-height: 24.2px;
    font-weight: 600;
    color: #060606;
    font-family: 'Inter', sans-serif;
    padding-left: 20px;
}

.price-icon .icons {
    display: flex;
    gap: 10px;
    padding-right: 8px;
}

.icon-heart {
    background-color: #FF4415;
    padding: 8px;
    border-radius: 8px;
    color: white;
    height: 32px;
    width: 32px;
    transition: background-color 0.3s ease;
}

.icon-share {
    background-color: #171717;
    padding: 8px;
    border-radius: 8px;
    color: white;
    height: 32px;
    width: 32px;
    transition: background-color 0.3s ease;
}

.icon-heart:hover {
    background-color: #FF7043;
}

.icon-share:hover {
    background-color: #333333;
}

.feature1 button {
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-radius: 16px;
    background: linear-gradient(92.18deg, #3FDA7D 48.17%, #00BE4C 100%);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

.feature1 button:hover {
    background: linear-gradient(92.18deg, #34c76e 48.17%, #00a848 100%);
    transform: scale(1.05);
}

.feature1 button .button-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: #00BE4C;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    align-items: center;
    padding-top: 5px;
    margin-left: 8px;
}


/*Feature 2*/
.feature2-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature2-title p {
    font-family: 'Seaweed Script', cursive;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    color: #FF4415;
    text-align: center;
}

.feature2-title h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    color: #101010;
    margin-bottom: 30px;
    text-align: center;
}

.feature2 {
    padding: 10px;
    text-align: center;
    justify-content: center;
    position: relative;
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
}

.feature2-left {
    justify-content: space-between;
    margin-bottom: 20px;
    display: flex;
    flex: 1;
    width: 80%;
}

.feature2-left-l {
    text-align: left;
    flex: 1;
    padding-left: 100px;
}

.feature2-left-r {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(#46C366 25%, #eee 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -300px;
}

.circle h3 {
    font-size: 16px;
    line-height: 15px;
    color: #46C366;
    margin: 0;
    z-index: 2;
}

.inner-circle {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #F6F7FB;
    border-radius: 50%;
}

.feature2-left h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.feature2-left span {
    font-size: 16px;
    color: #777;
}

.feature2-detail h5 {
    margin-top: 30px;
    color: #36BD59;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 2px;
}

.feature2-detail h4 {
    color: #C7C7C7;
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: -1%;
}

.feature2-detail p {
    margin-top: 20px;
    color: #101010;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature2-detail p i {
    color: #FF4415;
    margin-left: 10px;
}

.feature2-detail hr {
    width: 100%;
    margin: 20px auto;
}

.feature2-left-l h2 {
    font-size: 24px;
    color: #333;
    margin-top: 50px;
}

.feature2-right {
    margin-left: 30px;
    position: relative;
    width: 90%;
    height: auto;
    background-image: url('assets/map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    flex: 1;
    border-radius: 16px;
}

.feature2-right img {
    position: absolute;
    width: 50px;
    height: auto;
}

.img1 {
    top: 40%;
    left: 30%;
}

.img2 {
    top: 50%;
    left: 60%;
}

.img3 {
    top: 70%;
    left: 20%;
}

.img4 {
    top: 60%;
    left: 70%;
}

.img5 {
    top: 40%;
    left: 10%;
}

.price-icon i {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}


/*Feature 3*/
.feature3-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature3-title p {
    font-family: 'Seaweed Script', cursive;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    color: #FF4415;
    text-align: center;
}

.feature3-title h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    color: #101010;
    margin-bottom: 30px;
    text-align: center;
}

.feature3-title span {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1%;
    color: #646464;
}

.feature3 {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.feature3-item {
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature3-item img {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.feature3-item h4 {
    padding-left: 20px;
    color: #1B1B1B;
    font-size: 28px;
    line-height: 22px;
    font-weight: 700;
}

.feature3-item p {
    margin-top: 10px;
    color: #939393;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    font-weight: 400;
    padding-left: 20px;
}

.feature3-item button {
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature3-item .ft1 {
    background: linear-gradient(92.18deg, #46C266 100%, #2FB652 100%);
    box-shadow: 0 10px 20px -20px rgba(0, 0, 0, 0.16);
}

.feature3-item .ft2 {
    background: linear-gradient(92.18deg, #FF6741 100%, #FF4415 100%);
    box-shadow: 0 10px 20px -20px rgba(0, 0, 0, 0.16);
}

.feature3-item .ft3 {
    background: linear-gradient(92.18deg, #FFBC2D 100%, #FEB618 100%);
    box-shadow: 0 10px 20px -20px rgba(0, 0, 0, 0.16);
}

.feature3-item button .button-icon-1,
.feature3-item button .button-icon-2,
.feature3-item button .button-icon-3 {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}

.feature3-item button .button-icon-1 {
    color: #00BE4C;
}

.feature3-item button .button-icon-2 {
    color: #FF6139;
}

.feature3-item button .button-icon-3 {
    color: #FFBB27;
}

.feature3-item:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/*App*/
.app {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 40px;
}

.app-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.app-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.app-right h1 {
    margin-bottom: 10px;
    color: #101010;
    line-height: 1.2;
    font-size: 34px;
    font-weight: 700;
}

.app-right p {
    margin-bottom: 20px;
    color: #646464;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
}

.store-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.store-icons button {
    border-radius: 18px;
    border: 1px solid #DBDBDB;
    padding: 10px 20px;
    background: #fff;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.store-icons i {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.store-icons i b {
    margin-left: 15px;
    color: #000;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 14px;
    font-weight: 500;
}

.store-icons button:hover {
    background: #007bff;
    color: #fff;
}


/*Subcribes*/
.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding: 50px 60px;
    width: 75%;
    margin: 0 auto;
    border-radius: 15px;
    background: linear-gradient(110deg, #FF4415 50%, #FEB618 50%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.subscribe-left {
    flex: 1;
    color: white;
}

.subscribe-left h3 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 40px;
}

.subscribe-left p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 28px;
}

.subscribe-right {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

#subscribe-form {
    display: flex;
    align-items: center;
    width: 70%;
}

#subscribe-form input[type="text"] {
    padding: 20px 40px;
    border: none;
    border-radius: 16px 0 0 16px;
    width: 100%;
    height: 60px;
    font-size: 16px;
    outline: none;
    background-color: #F5F5F5;
}

#subscribe-form button[type="submit"] {
    padding: 12px 20px;
    background-color: #2FB652;
    color: white;
    border: none;
    height: 60px;
    border-radius: 0 16px 16px 0;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#subscribe-form button[type="submit"] .button-icon {
    margin-left: 10px;
    padding-top: 5px;
    font-size: 14px;
    justify-content: center;
    background-color: #fff;
    width: 25px;
    height: 25px;
    color: #2FB652;
    border-radius: 10px;
}

#subscribe-form button[type="submit"]:hover {
    background-color: #2FB652;
}

/*Countries*/
.countries-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin: 60px 80px;
}

.heading {
    width: 100%;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 700;
    color: #101010;
}

.country-column {
    flex: 1 1 22%;
    display: flex;
    flex-direction: column;
}

.country {
    padding: 5px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #666666;
    line-height: 21.78px;
}

/*Footer*/
.footer {
    background-color: #F8F8F8;
    padding: 30px 30px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .column {
    flex: 1;
    margin: 20px;
    padding: 20px;
}

.footer .footer-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.footer .logo {
    width: 40px;
    height: auto;
    border-radius: 8px;
    margin-right: 15px;
}

.footer .footer-logo p1 {
    color: #101010;
    font-size: 25px;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 10px;
}

.footer .column p {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer .column h3 {
    color: #101010;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer .column a {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    display: block;
}

.footer .social-media-icon {
    display: flex;
    gap: 15px;
    flex-direction: row;
    margin-top: 20px;
}

.footer .social-media-icon a {
    color: white;
    background-color: #252525;
    padding: 10px;
    font-size: 15px;
    transition: color 0.3s;
    border-radius: 4px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 13px;
}

.copyright .left {
    text-align: left;
}

.copyright .right {
    text-align: right;
}

@media (max-width: 768px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        padding-top: 20px;
        width: 100%;
        text-align: center;
    }

    .navbar-menu,
    .navbar-menu-right {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: #232323;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .mobile-navbar-menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        z-index: 1000;
    }

    .mobile-navbar-menu.active {
        display: block;
    }

    .mobile-navbar-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-navbar-menu li {
        padding: 10px 0;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Inter', sans-serif;
        position: relative;
        transition: color 0.3s ease;
    }

    .mobile-navbar-menu li.active {
        color: #007bff;
    }

    .mobile-menu-icon {
        display: block;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px; 
        margin-bottom: 30px;
        padding: 15px; 
    }

    .header-left {
        max-width: 100%; 
        padding: 15px; 
        margin-top: 0; 
    }

    .header-left p {
        font-size: 32px; 
        line-height: 40px; 
    }

    .header-left h1 {
        font-size: 42px; 
        line-height: 50px;
        margin-top: 10px; 
    }

    .header-left h5 {
        font-size: 16px; 
        line-height: 24px; 
    }

    .location {
        max-width: 100%;
        margin-top: 20px; 
    }

    .input-container input[type="text"] {
        padding: 15px 20px; 
        font-size: 14px;
    }

    .location button {
        padding: 12px 20px; 
        font-size: 14px; 
    }

    .location button .button-icon {
        width: 24px; 
        height: 24px;
        font-size: 16px; 
        padding: 5px; 
        margin-left: 5px; 
    }

    .header-left .sign p1 {
        font-size: 16px; 
        line-height: 24px; 
    }

    .sign span {
        font-size: 16px; 
        line-height: 24px; 
    }

    .header-right img {
        width: 100%;
        max-width: 100%;
        margin-top: 20px; 
    }
    .subscribe {
        flex-direction: column;
        padding: 20px;
        width: 90%;
    }

    .subscribe-left {
        margin-bottom: 20px;
        text-align: center;
    }

    .subscribe-right {
        padding-left: 0;
        width: 100%;
    }

    #subscribe-form {
        width: 100%;
        gap: 10px;
    }

    #subscribe-form input[type="text"] {
        width: calc(100% - 120px);
        border-radius: 16px 0 0 16px;
    }

    #subscribe-form button[type="submit"] {
        width: 120px;
        border-radius: 0 16px 16px 0;
        margin-left: -10px;
    }

    #subscribe-form button[type="submit"] .button-icon {
        padding: 5px;
    }

    .countries-container {
        text-align: center;
        margin: 0;
        margin-top: 20px;
    }

    .country-column {
        flex: 1 1 45%;
        text-align: center;
    }

    .heading {
        font-size: 24px;
        margin: 0;
    }

    .country {
        font-size: 16px;
        margin: 0;
    }

    .service {
        text-align: center;
    }

    .service h1 {
        font-size: 42px;
        line-height: 48px;
        margin: 0;
    }

    .service p {
        font-size: 32px;
        line-height: 36px;
        margin: 0;
    }

    .service-items {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .service-item {
        width: 100%;
        height: 200px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-item img {
        width: 80px;
        height: 80px;
        padding-bottom: 15px;
        margin: 0;
    }

    .service-item h4 {
        font-size: 22px;
        line-height: 28px;
        margin: 0;
    }

    .service-item span {
        font-size: 14px;
        line-height: 24px;
        margin: 0;
    }

    .service-base {
        padding: 30px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px; 
        height: auto; 
    }

    .service-base-left {
        padding-right: 0; 
        width: 100%; 
    }

    .service-base-right {
        justify-content: center;
        width: 100%; 
    }

    .service-base-right .s7,
    .service-base-right .s9 {
        width: 30px;
        height: 30px;
    }

    .service-base-right .s8 {
        width: 70px;
        height: 70px;
    }

    .service-base-right .s5 {
        width: 100px;
        height: 150px;
    }

    .service-base-right .s6 {
        width: 70px;
        height: 130px;
    }

    .service-base-right .s4 {
        width: 120px;
        height: 150px;
    }

    .feature1-items {
        margin-left: 0;
        justify-content: center;
        width: 100%;
    }

    .feature1-item {
        width: 80%;
        margin-left: 0;
        margin-right: 0;
        padding: 20px;
    }

    .feature1-item img {
        width: 200px;
        height: 120px;
    }

    .feature1-item b {
        font-size: 16px;
    }

    .feature1-item span {
        font-size: 12px;
        line-height: 18px;
    }

    .price-icon p {
        font-size: 16px;
    }

    .price-icon .icons {
        padding-right: 0;
    }

    .icon-heart,
    .icon-share {
        height: 24px;
        width: 24px;
        padding: 5px;
    }

    .feature1 button {
        padding: 10px 15px;
        font-size: 12px;
    }

    .feature1 button .button-icon {
        width: 25px;
        height: 25px;
        font-size: 16px;
        padding: 5px;
    }

    .feature2 {
        width: 100%;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feature2-left {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .feature2-left-l {
        padding-left: 0;
        padding-right: 20px;
    }

    .feature2-left-r {
        margin-top: 20px;
        padding: 0 20px;
    }

    .circle {
        display: none;
    }

    .feature2-left h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .feature2-left span {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .feature2-detail h5 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .feature2-detail h4 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .feature2-detail p {
        font-size: 14px;
        line-height: 1.5;
        margin-top: 10px;
    }

    .feature2-right {
        margin: 0;
        width: 100%;
        min-height: 300px;
        background: url('assets/map.png') no-repeat center center;
        background-size: cover;
        text-align: center;
        padding: 20px;
    }

    .feature2-right img {
        width: 40px;
        margin-top: 10px;
    }

    .feature3-item {
        width: 45%;
    }

    .feature3-item h4 {
        font-size: 24px;
    }

    .feature3-item p {
        font-size: 14px;
    }

    .feature3-item button {
        font-size: 14px;
    }

    .app {
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    .app-left {
        margin: 0;
        padding: 0;
    }

    .app-right {
        text-align: center;
    }

    .store-icons {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .store-icons button {
        width: 100%;
    }

    .footer {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer .column {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .footer .footer-logo {
        flex-direction: column;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer .footer-logo img {
        align-items: center;
        width: 100px;
        height: auto;
    }

    .footer .footer-logo p1 {
        font-size: 28px;
        text-align: center;
        margin: 0;
    }

    .footer .column p,
    .footer .column a {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer .column h3 {
        font-size: 22px;
        margin: 0;
    }

    .social-media-icon {
        justify-content: center;
        text-align: center;
    }

    .social-media-icon a {
        font-size: 18px;
        padding: 6px;
    }

    .copyright {
        font-size: 18px;
        padding: 10px;
        text-align: center;
        margin: 0;
    }
}